<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Hi. I'm Pieter. I'm an independent software developer. I work at <a href="https://scaledaccess.com">Scaled Access</a>.
      
      I also am an organizer of the Wardley Mapping Belgium Meetup.

      You can find more of my work here:
      <a href="{{ site.nav.main.writing }}">writing</a>, 
      <a href="{{ site.nav.main.speaking }}">speaking</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
